#home-section{
    background-image: url("../img/cover.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.home-content{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content h1{
    margin: 0.3em 0;
    font-family: 'Mona-Sans Bold';
    font-size: 3em;
    transition: 0.5s;
}

.home-content span{
    font-size: 1.5em;
    transition: 0.5s;
}

.home-content:hover h1, .home-content:hover span{
    transform: translateY(-20px);
}