.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.navigation .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
    padding: 3em 6em;
    width: 80%;
}

.navigation span{
    cursor: pointer;
}

.navigation #website-name{
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3em;
    font-family: 'Mona-Sans Black';
}

.navigation .links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
}

.navigation .links a{
    font-size: 1.1em;
    text-decoration: none;
}

.navigation li{
    margin: 0 2em;
}

.navigation.fixed{
    background-color: #282828;
    animation: fade-in 2s;
    position: fixed;
    top: 0;
    z-index: 2;
    opacity: 0.7;
    transition: 0.5s;
}

.navigation.fixed .container #website-name{
    color: #4b41bd;
}

.navigation.fixed:hover{
    opacity: 1;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.7;}
}