header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbtn{
    display: none;
}

.closebtn{
    display: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navigation .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.2em;
    padding: 1.2em 6em;
    width: 80%;
}

.navigation span{
    cursor: pointer;
}

.navigation #website-name{
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3em;
    font-family: 'Mona-Sans Black';
}

.navigation .links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation .links a{
    font-size: 1.1em;
    text-decoration: none;
}

.navigation li{
    margin: 0 2em;
}

.navigation.fixed{
    background-color: #282828;
    animation: fade-in 1s;
    position: fixed;
    top: 0;
    opacity: 0.7;
    transition: 0.5s;
}

.navigation.fixed .container #website-name{
    color: #4b41bd;
}

.navigation.fixed:hover{
    opacity: 1;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 0.7;}
}

@media screen and (max-width: 1370px) {
    .navigation .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation #website-name{
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 700px) {
    .navbtn{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 5em;
        height: 5em;
        border-radius: 100%;
        z-index: 9;
        position: fixed;
        top: -40px;
        background-color: white;
    }

    .navbtn svg{
        margin-bottom: 0.7em;
    }

    #website-name{
        color: #4b41bd;
    }

    .navigation{
        background-color: #282828;
        opacity: 1;
        animation: none;
        position: fixed;
        height: 100vh;
        transition: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateY(-100%);
        transition: 1s;
    }

    .navigation.visible{
        transform: translateY(0%);
    }

    .navigation .closebtn{
        width: 4em;
        height: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation .closebtn svg{
        filter:invert();
    }

    .navigation .container{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navigation .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation li{
        margin: 0.5em;
    }
}