@font-face {
  font-family: 'Mona-Sans Black';
  src: url("./fonts/Mona-Sans-Black.ttf") format('truetype');
}

@font-face {
  font-family: 'Mona-Sans Light';
  src: url("./fonts/Mona-Sans-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Mona-Sans Bold';
  src: url("./fonts/Mona-Sans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Mona-Sans SemiBold';
  src: url("./fonts/Mona-Sans-SemiBold.ttf") format('truetype');
}

html{
    scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  color: white;
  font-family: 'Mona-Sans Light', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #151515;
  background-color: #f0ecee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: white;
}